<%= nested_form_for [:admin, album], :validate => true, :html => { :class => "form-horizontal", :multipart => true  } do |f| %>

  <div class="pull-right">
    <%= f.submit "Сохранить", :class => 'btn btn-primary btn-large btn-submit' %>
    <%= link_to "Отмена", session[:back_url], :class => "btn btn-small" %>
  </div>

  <div class="control-group">
     <label class="control-label">Название</label>
     <div class="controls">
       <%= f.text_field :name, :class => "span3" %>
     </div>
   </div>

  <div class="control-group">
     <label class="control-label">Описание</label>
     <div class="controls">
       <%= f.text_area :description, :rows => "4", :class => "span3" %>
     </div>
  </div>

  <% if album.new_record? %>
  <div class="control-group">
    <label class="control-label">Собаки в альбоме</label>
    <div class="controls">
      <% Pet.all.each do |pet| %>
          <label class="checkbox">
            <%= check_box_tag "album[pet_ids][]", pet.id, false, :id => dom_id(pet) %>
            <%= "#{pet.name} #{pet.title}" %>
          </label>
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="control-group">
    <h3>Фотографии</h3>
    <div class="span10">
      <div id="new_photos">
      </div>
      <div class="row main-row">
         <%= f.fields_for :photos do |photo_form| %>
            <% if photo_form.object.image.present? %>
              <div class="span5 attached-row">
                <div class="row">
                  <div class="span2 thumbnail attached-thumb">
                    <%= image_tag photo_form.object.image.url(:thumb) %>
                    <%= photo_form.link_to_remove raw("<i class='icon-white icon-remove-circle'></i>"), :class => "remove-photo-link" %>
                  </div>
                  <div class="span3">
                    <%= photo_form.text_area :caption, :placeholder => "Описание" %>
                  </div>
                </div>
                <div class="control-group row">
                  <a class="pull-right" data-toggle="modal" href="#photo-<%= photo_form.object.id %>-modal" >
                    Отметить питомцев
                  </a>
                  <label class="control-label">Показывать на главной странице</label>
                  <div class="controls">
                    <%= photo_form.check_box :on_main %>
                  </div>


                  <div class="modal hide fade" id="photo-<%= photo_form.object.id %>-modal">
                    <div class="modal-header">
                      <a type="button" class="close" data-dismiss="modal">×</a>
                      <h3 class="main-row">Выберите собак</h3>
                      <%= image_tag photo_form.object.image.url(:admin_thumb), :class => "thumbnail centered" %>
                    </div>
                    <div class="modal-body pets-modal-chooser">
                      <% Pet.order("name ASC").all.each do |pet| %>
                          <label class="checkbox">
                            <%= check_box_tag "pets[#{photo_form.object.id}][]", pet.id, photo_form.object.pets.include?(pet), :id => dom_id(pet) %>
                            <%= "#{pet.name} #{pet.title}" %>
                          </label>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                      <a href="#" class="btn btn-primary" data-dismiss="modal">Выбрать</a>
                    </div>
                  </div>


                </div>
              </div>
            <% else %>
              <div class="control-group">
                <%= photo_form.file_field :image %>
                <%= photo_form.link_to_remove raw("<i class='icon-remove'></i>"), :class => "btn" %>
              </div>
            <% end %>
         <% end %>
        <a href="#photos-chooser-modal" class="pull-left show-photos-chooser cleared" data-toggle="modal">Выбрать фотографии</a>
        </div>
    </div>

    <!-- START PHOTOS CHOOSER -->
    <div class="modal hide fade" id="photos-chooser-modal">
      <div class="modal-header">
        <a type="button" class="close" data-dismiss="modal">×</a>
        <h3>Выберите фотографии</h3>
      </div>

      <div class="modal-body photos-chooser-modal-body">
         <ul class="thumbnails photos-chooser" style="clear: both;">
          <% Photo.all.each do |photo| %>
            <li class="choosable-container">
             <%= check_box_tag "new_photos[]", photo.id, false, :id => dom_id(photo) %>
             <div class="thumbnail choosable">
               <%= image_tag photo.image.url(:thumb) %>
             </div>
           </li>
          <% end %>
         </ul>
      </div>

      <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Выбрать</a>
      </div>
    </div>
    <!-- END PHOTOS CHOOSER -->

 </div>

<% end %>
<%= render "uploader_form" %>
