<div class="row">
  <%= render "admin/photos/sidenav", :active => "all-albums" %>

  <div class="span10">
    <h1>Альбомы</h1>
    <div class="sorters main-row">
      <h5>Отсортировать</h5>
      <div class="btn-group">
        <%= link_to_sorted raw('<span>По имени</span>'), 'albums.name', :class => "btn" %>
        <%= link_to_sorted raw('<span>По дате</span>'), 'albums.created_at', :class => "btn" %>
      </div>
    </div>

    <ul class="thumbnails">
        <% @albums.each do |album| %>
            <li class="span3">
              <figure class="thumbnail thumbnail-album">
                <% if album.photos.empty? %>
                  <div class="no-image">Пустой альбом</div>
                <% else %>
                  <%= link_to admin_album_path(album) do %>
                    <span class="photos-counter"><%= album.photos.count %></span>
                    <%= image_tag album.photos.first.image.url(:admin_thumb) %>
                  <% end %>
                <% end %>
                <figcaption class="caption">
                  <p>
                    <%= album.name %>
                  </p>
                  <p>
                    <%= link_to "Редактировать", edit_admin_album_path(album), :class => "btn btn-small" %>
                    <%= link_to "Удалить", admin_album_path(album), :method => :delete, :class => "btn btn-danger btn-small" %>
                </figcaption>
              </figure>
            </li>
        <% end %>
      </ul>
  </div>
</div>
