<div class="row">
  <%= render "admin/photos/sidenav", :active => (params[:hidden] ? "tech-albums" : "all-albums") %>

  <div class="span10">

    <%= link_to "Добавить альбом", new_admin_album_path, :class => "btn pull-right" %>

    <% if params[:hidden] == "true" %>
      <h1 class="no-margin">Технические альбомы</h1>
      <p class="help-block main-row">Технические альбомы не отображаются в галерее</p>
    <% else %>
      <h1>Альбомы</h1>
    <% end %>
    <div class="sorters main-row">
      <h5>Отсортировать</h5>
      <div class="btn-group">
        <%= link_to_sorted raw('<span>По имени</span>'), 'albums.name', :class => "btn" %>
        <%= link_to_sorted raw('<span>По дате</span>'), 'albums.created_at', :class => "btn" %>
      </div>
    </div>

    <%= render "albums", :albums => @albums %>
  </div>
</div>
