<div class="hero-unit">
    <h1>Панель управления</h1>
    <p>
      Здесь вы можете управлять питомцами, фотографиями, событиями, вести блог и создавать новости.
    </p>
</div>

<div class="row dashboard-columns">

  <%= render "admin/photos/sidenav" %>
  <%= render "admin/posts/sidenav" %>
  <%= render "admin/pets/sidenav" %>

  <div class="span6">
    <div class="thumbnail">
    <%= link_to image_tag(@random_photo.image.url(:large)), admin_photos_path %>
    <figcaption class="caption">
              <p>
                <%= caption(@random_photo) %>
              </p>
     </figcaption>
   </div>
  </div>

</div>
