<div class="patterned-block">
  <section class="container container-thin">
  <%= link_to image_tag(@pet.avatar.url(:title),
                        :class => "thumbnail span5 photo-pet-avatar",
                        :data => {:thumb_photo => @pet.avatar.url(:thumb)}
                       ), @pet.avatar.url(:original) %>
    <ul class="span1 photo-pet-thumbs">
      <% @previews.each do |photo| %>
        <li class='thumbnail'>
          <%= link_to image_tag(photo.image.url(:thumb)), pet_photo_path(@pet, photo),
            :class => "pet-avatar-switcher",
            :data => { :title_photo => photo.image.url(:pet_title)} %>
        </li>
      <% end %>
    </ul>

    <div class="well span5 pet-stats">
      <dl class="dl-horizontal">

        <dt>Имя:</dt>
        <dd rel="tooltip" data-original-title="<%= @pet.name %>"><%= @pet.name %></dd>

        <dt>Пол:</dt>
        <dd><%= pet_sex(@pet) %></dd>

        <dt>Дата рождения:</dt>
        <dd></dd>

        <dt>Окрас:</dt>
        <dd><%= @pet.color %></dd>

        <dt>Титулы:</dt>
        <dd><%= @pet.title %></dd>

        <dt>Владелец:</dt>
        <dd><%= @pet.owner_name if @pet.owner.present? %></dd>

        <dt>Заводчик:</dt>
        <dd><%= @pet.breeder_name if @pet.breeder.present?%></dd>

        <dt>Питомник:</dt>
        <dd><%= @pet.kennel_name if @pet.kennel.present?%></dd>
      </dl>
    </div>
  </section>

  <div class="container">
    <ul class="nav photo-pills nav-pills pull-left">
      <li>
        <%= link_to "все фото с питомцем", pet_photos_path(@pet) %>
      </li>
    </ul>
  </div>

  <% if @pet.description.present? && strip_tags(@pet.description).length > 0 %>
    <section class="container photo-description container-thin">
      <div class="pet-description">

        <div class="short-description">
         <%= raw truncate(strip_tags(@pet.description), :length => 200) %>
          <% if @pet.description.length > 200 %>
            <a href='#' class="more-pet">подробнее</a>
          <% end %>
        </div>


        <div class="more-description">
          <%= raw @pet.description %>
          <a href='#' class="less-pet pull-right">закрыть</a>
        </div>
      </div>
    </section>
  <% end %>
</div>

<% if @parents.present? %>
  <section class="container">
    <ul class="span5 pet-parents">
      <% @parents.each do |parent| %>
        <li class="thumbnail span5">
          <% if parent.present? %>
            <%= link_to pet_path(parent), :class => "span5 thumbnail" do %>
              <%= image_tag(parent.avatar.url(:pedigree_parent)) %>
              <div class="caption">
                <h5><%= parent.name %></h5>
                <p>
                  <%= parent.color %>
                  <%= pet_sex(parent) %>
                </p>
              </div>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <ul class="span2 pet-grandparents">
      <% @grandparents.each do |grandparent| %>
        <li class="span2 thumbnail">
          <% if grandparent.present? %>
            <%= link_to pet_path(grandparent), :class => "thumbnail" do %>
              <%= image_tag(grandparent.avatar.url(:pedigree_grandparent)) %>
              <div class="caption">
                <h5 rel="tooltip" data-original-title="<%= grandparent.name %>"><%= grandparent.name %></h5>
                <p>
                  <%= grandparent.color %>
                  <%= pet_sex(grandparent) %>
                </p>
              </div>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <ul class="span3 pet-elders">
      <% @elders.each do |elder| %>
        <li class="thumbnail span3">
          <% if elder.present? %>
            <%= link_to pet_path(elder), :class => "thumbnail" do %>
              <%= image_tag elder.avatar.url(:pedigree_elder) , :class => "span1" %>
              <div class="caption span2">
                <h5 rel="tooltip" data-original-title="<%= elder.name %>"><%= elder.name %></h5>
                <p>
                  <%= elder.color %>
                  <%= pet_sex(elder) %>
                </p>
              </div>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
