<% active ||= '' %>
<div class="span2">
    <nav class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">Фотографии</li>
          <li class="<%== 'active' if active == 'all-photos' %>">
            <%= link_to "Фотографии", admin_photos_path %>
          </li>
          <li class="<%== 'active' if active == 'new-photo' %>">
            <%= link_to "Добавить фотографию", new_admin_photo_path %>
          </li>
          <li class="<%== 'active' if active == 'all-albums' %>">
            <%= link_to "Альбомы", admin_albums_path %>
          </li>
          <li class="<%== 'active' if active == 'new-album' %>">
            <%= link_to "Добавить альбом", new_admin_album_path %>
          </li>
        </ul>
    </nav>
</div>
