<header>
  <div class="navbar clearfix">
    <%= link_to image_tag("logo2.png"), root_url, :id => "logo", :class => "brand" %>

    <ul class="nav nav-pills">
      <li><%= link_to "Новости", "" %></li>
      <li><%= link_to "Питомцы", "" %></li>
      <li><%= link_to "Галерея", "" %></li>
      <li><%= link_to "Про чау", "" %></li>
      <li><%= link_to "Про нас", "" %></li>
    </ul>
  </div>

</header>
