<%= nested_form_for [:admin, pet], :validate => true, :html => { :class => "form-horizontal pet-form", :multipart => true } do |f| %>

  <div class="row">
      <div class="span5">
          <div class="control-group">
             <label class="control-label">Кличка</label>
             <div class="controls">
               <%= f.text_field :name %>
             </div>
          </div>

          <div class="control-group">
             <label class="control-label">Титулы</label>
             <div class="controls">
               <%= f.text_field :title %>
             </div>
          </div>

         <div class="control-group">
             <label class="control-label">Дата рождения</label>
             <div class="controls date-select">
               <%= f.date_select :born, :start_year => 2000 %>
             </div>
          </div>

          <div class="control-group">
             <label class="control-label">Щенок</label>
             <div class="controls date-select">
               <%= f.check_box :puppy %>
             </div>
          </div>

          <div class="control-group">
             <label class="control-label">Мой питомец</label>
             <div class="controls date-select">
               <%= f.check_box :owned %>
             </div>
          </div>

          <div class="control-group">
             <label class="control-label">Пол</label>
             <div class="controls">

               <div class="btn-group pet-type-buttons" data-toggle="buttons-radio">
                 <a class="btn <%== 'active' if pet.sex %>" data-sex="true" title="Кобель" href="#">
                   Кобель
                  </a>
                  <a class="btn <%== 'active' if !pet.sex %>" data-sex="false" title="Сука" href="#">
                    Сука
                  </a>
               </div>

                <%= f.hidden_field :sex, :class => 'pet-sex-value' %>

             </div>
          </div>

          <div class="control-group">
             <label class="control-label">Окрас</label>
             <div class="controls">
               <%= f.text_field :color %>
             </div>
          </div>

          <div class="control-group">
             <label class="control-label">Владелец</label>
             <div class="controls">
               <%= f.select  :owner_id, Person.owners.collect {|p| [ p.name, p.id ] }, { :include_blank => "Нет владельца"} %>
               <%= text_field_tag :new_owner_name, "", :class => "new-person-input" %>
               <a href="" class="pull-right pet-new-person" id="new-owner-link">Добавить нового</a>
             </div>
          </div>

          <div class="control-group">
             <label class="control-label">Заводчик</label>
             <div class="controls">
               <%= f.select :breeder_id, Person.breeders.collect {|p| [ p.name, p.id ] }, { :include_blank => "Нет заводчика"}  %>
               <%= text_field_tag :new_breeder_name, "", :class => "new-person-input" %>
               <a href="" class="pull-right pet-new-person" id="new-breeder-link">Добавить нового</a>
             </div>
          </div>

          <div class="control-group">
             <label class="control-label">Питомник</label>
             <div class="controls">
               <%= f.select :kennel_id, Person.kennels.collect {|p| [ p.name, p.id ] }, { :include_blank => "Нет питомника"} %>
               <%= text_field_tag :new_kennel_name, "", :class => "new-person-input" %>
               <a href="" class="pull-right pet-new-person" id="new-kennel-link">Добавить новый</a>
             </div>
          </div>

          <div class="control-group">
             <label class="control-label">Мать</label>
             <div class="controls">
               <%= f.select :mother_id, @mothers.collect {|p| [ p.name, p.id ] }, { :include_blank => "Нет матери"}  %>
               <%= text_field_tag :new_mother_name, "", :class => "new-person-input" %>
               <a href="" class="pull-right pet-new-person" id="new-mother-link">Добавить</a>
             </div>
          </div>

          <div class="control-group">
             <label class="control-label">Отец</label>
             <div class="controls">
               <%= f.select :father_id, @fathers.collect {|p| [ p.name, p.id ] }, { :include_blank => "Нет отца"} %>
               <%= text_field_tag :new_father_name, "", :class => "new-person-input" %>
               <a href="" class="pull-right pet-new-person" id="new-father-link">Добавить</a>
             </div>
          </div>

          <div class="control-group">
             <label class="control-label">Описание</label>
             <div class="controls">
               <%= f.text_area :description, :rows => "20", :class => "editor span7" %>
             </div>
          </div>

      </div>

      <div class="span4 photos-block">
           <h3>Фото</h3>

           <% if pet.avatar.present? %>
               <div class="row">
                 <%= image_tag pet.avatar.url(:medium), :class => "thumbnail" %>
               </div>
           <% end %>

           <div class="main-row">
             <%= f.file_field :avatar %>
           </div>


      </div>
  </div>

  <div class="row">
           <h3 class="main-row">Отмеченные фотографии</h3>
           <% if pet.photos.empty? %>
             <p>Питомец не отмечен на фотографиях</p>
           <% else %>
                  <%= f.fields_for :photos do |photo_form| %>
                       <div class="thumbnail span2 attached-thumb">
                         <%= photo_form.link_to_remove raw("<i class='icon-white icon-remove-circle'></i>"), :title => "Открепить фото" %>
                         <%= image_tag photo_form.object.image.url(:thumb) %>
                       </div>
                  <% end %>
           <% end %>
  </div>


  <div class="row">
    <div class="form-actions">
      <%= f.submit "Сохранить", :class => 'btn btn-primary' %>
      <%= link_to "Отмена", session[:back_url], :class => "btn btn-small" %>
    </div>
  </div>

<% end %>
