<div class="row">
    <%= render "sidenav" %>

  <div class="span10">
    <div class="pull-right actions">
      <%= link_to "Редактировать", edit_admin_pet_path(@pet), :class => "btn btn-small", :title => "Редактировать питомца '#{@pet.name}'" %>
    </div>
    <h1>
      <%= @pet.name %>
    </h1>
    <div class="row">
      <div class="span10">

        <% unless @unsorted_photos.empty? %>
          <h3>Фотографии без альбома</h3>
          <%= render "admin/shared/photos", :photos => @unsorted_photos %>
        <% end %>

        <% @albums_photos.each do |album, photos| %>
          <h3><%= link_to album.name, admin_album_path(album) %></h3>
          <%= render "admin/shared/photos", :photos => photos %>
        <% end %>

      </div>
    </div>
  </div>
</div>
