<div class="patterned-block mega-holder ridus-content">
  <div class="mega-holder-container">
    <div class="destroyer">
      <div class="tube"></div>
      <div class="destroyer-broker"></div>
    </div>
    <div class="mega-holder-content">
      <div class="mega-holder-inner ridus clearfix">
            <%= link_to(image_tag(@photos.first.image.url(:large)), photo_path(@photos.first)) unless @photos.empty? %>

            <% @photos.last(18).each_slice(2) do |pair| %>
              <div class="ridus-block">
                <% pair.each do |photo| %>
                  <%= link_to image_tag(photo.image.url(:medium)), photo_path(photo) %>
                <% end %>
              </div>
            <% end %>
      </div>
    </div>
  </div>
</div>

<section class="container container-thin centered">
    <ul class="thumbnails-album clearfix thumbnails sub-row-reversed">
        <% @albums.each do |album| %>
            <li>
              <%= link_to album_path(album), :class => "thumbnail" do %>
                <% if album.photos.empty? %>
                  <div class="no-image">Пустой альбом</div>
                <% else %>
                  <%= image_tag(album.photos.first.image.url(:thumb)) %>
                <% end %>
                    <div class="caption">
                      <h4 class="thumbnail-album-title">
                        <%= truncate(album.name, :length => 25) %>
                      </h4>
                      <p>
                        <%= "#{album.photos.count}  #{t('photo', :count => album.photos.count)}" %>
                      </p>
                    </div>
                <% end %>
            </li>
        <% end %>
      </ul>
</section>
