<h1>Настройки</h1>

<%= form_tag 'settings/update' do %>
  <%= label_tag :site_name, 'New name:' %>
  <%= text_field_tag :site_name, @site_name %>
  <%= label_tag :adress, 'Adress:' %>
  <%= text_field_tag :adress, @adress %>
  <%= submit_tag("Save") %>
<% end %>
