<div class="patterned-block">

  <% if @pet %>
    <%= render "pet_view", :photo => @photo, :photos => @photos, :pet => @pet %>
  <% else %>
    <%= render "album_view", :photo => @photo, :photos => @photos, :album => @album %>
  <% end %>


  <% cache("photos_description_#{@photo.id}") do %>
    <section class="container photo-description container-thin">
      <% unless @photo.pets.empty? %>
        <p class="photo-pets-list">
          На этой фотографии присутствуют:
          <%= raw @photo.pets.map{ |p| link_to(p.name, pet_path(p))}.join(", ") %>
        </p>
      <% end %>

      <% unless @photo.albums.count <= 1 %>
        <p class="photo-pets-list">
          Так же это фото есть в альбомах:
          <%= raw @photo.albums.where("name != '#{@album.name}'").map{ |a| link_to(a.name, album_path(a))}.join(", ") %>
        </p>
      <% end %>

      <p>
        <%= @photo.caption %>
      </p>
    </section>
  <% end %>

</div>

<section class="container container-thin">

  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'kennel'; // required: replace example with your forum shortname
      var disqus_developer = 1;

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</section>
