<div class="patterned-block">

  <% if @photos.present? %>
    <section class="photo-album-container horizontal-only container-thin">
      <ul class="thumbnails">
        <% @photos.each do |photo| %>
          <li class="span2">
            <% if photo != @photo %>
              <%= link_to image_tag(photo.image.url(:thumb)), photo_path(photo), :class => "thumbnail" %>
            <% else %>
              <%= image_tag photo.image.url(:thumb), :class => "thumbnail photo-current" %>
              <div class="photo-current-overlay"></div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>

    <a name="photo"></a>
  <section class="container photo-container container-thin">
    <%= link_to("", photo_path(@photo.prev_photo) + "#photo", :class => "photo-arrow photo-prev") if @album.present? %>
    <%= image_tag @photo.image.url(:large), :class => "photo-full" %>
    <%= link_to("", photo_path(@photo.next_photo) + "#photo", :class => "photo-arrow photo-next") if @album.present? %>
  </section>

  <div class="container">
    <ul class="nav photo-pills nav-pills pull-right">
      <% if @photos.present? %>

      <li>
        <%= link_to "вернуться в галерею", album_path(@album) %>
      </li>

        <% if @album %>
          <li>
            <%= link_to "показать все фото с этого события", album_path(@album) %>
          </li>
        <% end %>

      <% end %>
      <li>
        <%= link_to "открыть в полном размере", @photo.image.url(:original) %>
      </li>
    </ul>
  </div>

  <section class="container photo-description container-thin">
    <% unless @photo.pets.empty? %>
      <p class="photo-pets-list">
        На этой фотографии присутствуют:
        <%= raw @photo.pets.map{ |p| link_to(p.name, "")}.join(", ") %>
      </p>
    <% end %>

    <p>
      <%= @photo.caption %>
    </p>
  </section>

</div>

<section class="container container-thin">

  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'kennel'; // required: replace example with your forum shortname
      var disqus_developer = 1;

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</section>
