<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Питомник CMS</a>
      <ul class="nav nav-pills">
        <li class="<%== 'active' if current_page?(admin_albums_path) %>"><!-- FIXME -->
          <%= link_to "Фотографии", admin_albums_path %>
        </li>
        <li class="<%== 'active' if current_page?(admin_pets_path) %>">
          <%= link_to "Питомцы", admin_pets_path %>
        </li>
        <li class="<%== 'active' if current_page?(admin_posts_path) %>">
          <%= link_to "Блог", admin_posts_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
