<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Питомник CMS", admin_path, :class => "brand" %>
      <ul class="nav nav-pills">
        <li class="<%== 'active' if current_page?(admin_albums_path) %>"><!-- FIXME -->
          <%= link_to "Фотографии", admin_albums_path %>
        </li>
        <li class="<%== 'active' if current_page?(admin_pets_path) %>">
          <%= link_to "Питомцы", admin_pets_path %>
        </li>
        <li class="<%== 'active' if current_page?(admin_posts_path) %>">
          <%= link_to "Блог", admin_posts_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
