<ul class="posts-list">
  <% posts.each do |post| %>
    <li class="row">
      <%= post_cover(post) %>
      <div class="span6">
        <div class="main-row">
          <h4>
            <%= raw("<i class='icon-camera'></i>") if post.album.present? %>
            <small><%= post.created_at.strftime("%d.%m.%Y") %></small>
            <%= post.title %>
          </h4>
          <p>
            <%= raw(truncate(post.body, :length => 200)) %>
          </p>
        </div>

        <div class="post-actions">
          <%= link_to "Редактировать", edit_admin_post_path(post), :class => "btn btn-small" %>
          <%= link_to "Удалить", admin_post_path(post), :method => :delete, :class => "btn btn-danger btn-small" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
