<ul class="posts-list">
  <% posts.each do |post| %>
    <li class="row">
      <%= post_cover(post) %>
      <div class="span6">
        <div class="main-row">
          <h4>
            <%= raw("<i class='icon-camera'></i>") if post.album.present? %>
            <small><%= post.created_at.strftime("%d.%m.%Y") %></small>
            <%= post.title %>
          </h4>
          <p>
            <%= raw truncate(strip_tags(post.body), :length => 200) %>
          </p>
        </div>

        <div class="post-actions">
          <%= link_to raw("<i class='icon-eye-open'></i>"),
            post_path(post), :class => "btn btn-small", :title => "Посмотреть пост '#{post.title}' на сайте" %>
          <%= link_to "Редактировать", edit_admin_post_path(post), :class => "btn btn-small" %>
          <%= link_to "Удалить", admin_post_path(post), :method => :delete, :class => "btn btn-danger btn-small", :confirm => "Вы уверены?" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
