<!DOCTYPE html>
<html>
<head>
  <title>Панель управления питомником Чау-Чау Velvet Chinarose</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "admin/admin" %>
  <%= csrf_meta_tags %>
</head>
<body id="admin">

  <%= render "admin/shared/header" %>
  <div class="container">
      <% flash.each do |name, msg| %>
        <%= render "shared/notification", :name => name, :msg => msg %>
      <% end %>
  </div>
  <div class="container container-main">
    <%= yield %>
  </div>

  <footer class="footer container">
    Developed by <a href="http://twitter.com/fodoj">Fodoj</a>
  </footer>

</body>
</html>
