<!DOCTYPE html>
<html>
<head>
  <title>Питомник Чау-Чау Velvet Chinarose</title>
  <%= stylesheet_link_tag    "public", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="public">

  <div id="container">
    <%= render "shared/header" %>
    <%= yield %>
    <div class="clearfooter"></div>
  </div>
  <%= render "shared/footer" %>

</body>
</html>
